body {
	margin: 0px;
    background-color: #181818;
}

h1 {
    font-family: Consolas, monaco, monospace; font-size: 40px;
    color: darkred;
    line-height: 64px;
    margin: 0px;
}

h2 {
    font-family: Consolas, monaco, monospace; font-size: 32px;
    color: #181818;
    margin: 0px;
}

#titleBar {
    margin: 0px;
	height: 64px;
}

#titleBar > #titleBarWrap {
	/* Maybe change to:
	 * width: auto;
	 */
	width: 512px;
    margin-left: auto;
    margin-right: auto;
}

#titleBar > #titleBarWrap > #titleBarLogo {
	float: left;
	height: 48px;
	width: 48px;
    margin-top: 8px;
    margin-right: 24px;
}

#content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 16px;
    height: 150%;
    width: 924px;
}

#content > #feeds {
    position: relative;
    height: 100%;
    width: 800px;
    background-color: lightgray;
}

#content > #feeds > #primaryFeed {
    position: absolute;
    left: 0px;
    width: 480px;
}

#content > #feeds > #secondaryFeed {
    position: absolute;
    right: 0px;
    width: 320px;
}

#content > #sidebar {
    position: absolute;
    right: 0px;
    top: 0px;
	width: 128px;
}

#nav {
    text-decoration: none;
    font-family: Consolas, monaco, monospace; font-size: 18px;
    color: darkred;
    line-height: 32px;
}
