body {
	margin: 0px;
    background-color: #181818;
}

h1 {
    font-family: Consolas, monaco, monospace; font-size: 24px;
    color: darkred;
}

a {
    text-decoration: none;
    font-family: Consolas, monaco, monospace; font-size: 16px;
    color: darkred;
}

#titleBar {
	height: 48px;
}

#titleBar > #titleBarWrap {
	width: 272px;
	margin: 0px auto;
	height: 48px;
    line-height: 48px;
}

#titleBar > #titleBarWrap > #titleBarLogo {
	float: left;
	height: 48px;
	width: 48px;
    margin-right: 12px;
}

#sidebar {
	float: right;
    margin-left: 8px;
	width: 100px;
}

#primaryFeed {
    background-color: lightgray;
}

#secondaryFeed {
    background-color: lightgray;
}
