body {
	margin: 0px;
}

#titleBar {
	background:url(titleBar.png) repeat-x;
	height: 64px;
}

#titleBar > #titleBarWrap {
	width: 256px;
	margin: 0px auto;
	height: 50px;
}

#titleBar > #titleBarWrap > #titleBarLogo {
	float: left;
	height: 64px;
	width: 64px;
}

#sidebar {
	float: right;
	background:url(sidebar.png) repeat-y;
	width: 64px
}
