body {
	margin: 0px;
    background-color: lightgray;
}

h1 {
    font-family: Consolas, monaco, monospace; font-size: 40px;
    color: darkred;
    line-height: 48px;
    margin: 0px;
}

h2 {
    font-family: Consolas, monaco, monospace; font-size: 32px;
    color: #181818;
    margin: 0px;
    text-align: center;
}

h3 {
    font-family: Consolas, monaco, monospace; font-size: 24px;
    color: #181818;
    margin: 8px;
}

h4 {
    font-family: Consolas, monaco, monospace; font-size: 18px;
    color: #181818;
    margin: 8px;
}

#titleBar {
	height: 48px;
	width: 100%;
    background-color: #181818;
	position: fixed;
	z-index: 100;
}

#titleBar > #titleBarWrap {
	width: 800px;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#titleBar > #titleBarWrap > #titleBarLogo {
	float: left;
	height: 32px;
	width: 32px;
    margin-top: 8px;
}

#titleBar > #titleBarWrap > #menu {
	float: center;
}

#titleBar > #titleBarWrap > #menu > #nav  {
    text-decoration: none;
    font-family: Consolas, monaco, monospace; font-size: 18px;
    color: darkred;
    font-weight: bold;
    line-height: 48px;
	padding-right: 4px;
}

#titleBar > #titleBarWrap > #menu > #nav + #nav  {
    padding-left: 8px;
    border-left: solid #520C0C 1px;
}

#content {
	padding-top: 64px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 16px;
    width: 800px;
}

#content > #updateStatus > #statusText {
    width: 800px;
    min-height: 64px;
    max-height: 256px;
    resize: vertical;
}

#content > #primaryFeed {
    position: absolute;
    left: 0px;
    width: 480px;
}

#content > #secondaryFeed {
    position: absolute;
    right: 0px;
    width: 320px;
}

#content > #conversations {
    position: absolute;
    left: 0px;
    width: 320px;
}

#content > #activeConversation {
    position: absolute;
    right: 0px;
    width: 480px;
}

#form {
	padding-top: 64px;
    width: 512px;
    margin-left: auto;
    margin-right: auto;
}

#label {
    font-family: Consolas, monaco, monospace; font-size: 18px;
    color: #181818;
    font-weight: bold;
    line-height: 32px;
}

#error {
    font-family: Consolas, monaco, monospace; font-size: 18px;
    color: #C50000;
    font-weight: bold;
    line-height: 32px;
}

#link {
    font-family: Consolas, monaco, monospace; font-size: 12px;
    line-height: 32px;
}

#statusUpdate {
	position: relative;
    background-color: white;
	margin: 8px;
	padding: 8px;
	border: 1px solid;
	border-color: gray;
	border-radius: 5px;
}

#message {
	position: relative;
    background-color: white;
	margin: 8px;
	padding: 8px;
	border: 1px solid;
	border-color: gray;
	border-radius: 5px;
}

#user {
    text-decoration: none;
    font-family: Consolas, monaco, monospace; font-size: 18px;
    color: #181818;
    font-weight: bold;
	line-height: 32px;
}

#timestamp {
	position: absolute;
    right: 8px;
	top: 8px;
	font-family: Consolas, monaco, monospace; font-size: 10px;
    color: #181818;
}

#status {
    font-family: Consolas, monaco, monospace; font-size: 14px;
    color: #181818;
    font-weight: 500;
	word-wrap: break-word;
}

#conversation {
	margin: 8px;
}

#messageText {
    font-family: Consolas, monaco, monospace; font-size: 14px;
    color: #181818;
    font-weight: 500;
	word-wrap: break-word;
}

#content > #activeConversation > #messages {
	width: 480px;
}

#content > #activeConversation > #messages > #sendMessage {
	padding: 8px;
}

#content > #activeConversation > #messages > #sendMessage > #messageInput {
	width: 100%;
    min-height: 32px;
    max-height: 256px;
    resize: vertical;
}
